*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ul{
    list-style-type: none;
}

a{
    color: black;
}

body{
    font-family: "EB Garamond", sans-serif;
    text-underline-offset: 3px;
    text-decoration-thickness: 0px;
    letter-spacing: 0.01em;  
}

.content-section{
    box-sizing: border-box;
    width: 1100px;
    min-height: auto;
}

.no-dot-unline{
    list-style-type: none;
    text-decoration: none;
}

/*---------header---------*/

.header-section{
    padding: 92px 26px ;
    display: grid;
    grid-template-columns:3fr 1fr 3fr;
    place-items: center end;
    background-color: #FFFFFF;
    font-size: 18px;
    color: black;
}

.header-menu-nav{
    margin: 0 28px 0 0px;
}

.header-menu-list-nav {
    list-style-type: circle;
    display: flex;
    flex-direction: row;
    min-width: 392px;
    gap: 18px;
    padding: 0;
    white-space: nowrap;
}

.header-menu-item{
    padding:0 9px 0 3px;
    
}

.header-logo{
    size: 148px 105px;
}

.common-menu-list-contact{
    display: flex;
    max-width: 240.52px;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 4px;
    list-style-type: none;
    margin: 4px 23px 7px 0;
}
/*---------header---------*/

/*---------jambotron---------*/

.jambotron-section{
    color: #FFFFFF;
    background: url(/image/lotus-flower.png);
    background-size: contain;
    width: 1100px;
    height: 757px;
    position: relative;
    z-index: -1;
}

.background-fogging{
    position: absolute;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 1100px;
    height: 757px;
}

/*
.item-1{
    grid-area: ono;
}
.item-2{
    grid-area: tebe;
}
.item-3{
    grid-area: nado;
}

.jambotron-text-derection{
    height: 587px;
    width: 1000px;
    padding: 170px 50px 0 50px;
    display: grid;
    grid-template-rows: 130px 120px;
    grid-template-columns: 285px 48px 250px 72px 345px;
    grid-template-areas:
    "ono ono . . ."
    ". tebe tebe tebe ."
    ". . . nado nado";
}
*/

.jambotron-text-derection{
    padding: 170px 50px 66px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    align-items: center;
    gap: 25px
}

.item-ono{
    align-self: flex-start;
}

.item-tebe{
    align-self: center;
    padding: 0px 60px 0 0;
}

.item-nado{
    align-self: flex-end;
}

.accent-span{
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-right:-0.3em;
    line-height: 1.01;
}

.strange-spacing{
    letter-spacing: 60px;
}

.jambotron-section-bottom{
    padding-top: 67px;
}

.jambotron-bottom-text{
    display: inline-block;
    padding-left: 78px; ;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 0.8em;
}

.jambotron-bottom-button{
    display: inline-block;
    margin-left: 73px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    appearance: none;
    padding: 12px 32px;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
}

/*---------jambotron---------*/

/*---------lots---------*/
.lots-section{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
}

.head-text-lots{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 179px 0 0 64px;
}

.cards-lots{
    line-height: 120%;
    padding: 27px 25px;
    height: 618px;
    width: 100%;
    display: flex;
    gap: 25px;
}

.first-lot-cards{
    background-image: url(/image/first-element.png);
    position: relative;
    z-index: -1;
}

.second-lot-cards{
    background-image: url(/image/second-element.png);
    position: relative;
    z-index: -1;
}

.third-lot-cards{
    background-image: url(/image/third-elememt.png);
    position: relative;
    z-index: -1;
}

/*
.cards-background-fogging{
    background-color: #00000060;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 50px 35px 44px 39px;
} 
*/

.lot-item{
    display: flex;
    box-sizing: border-box;
    padding: 52px 35px 44px 39px;
    color: #fff;
    height: 563px;
    width: 334px;
    flex: -1;
    text-align: left;
}

.lot-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cards-background-fogging{
    position: relative;
    z-index: 1;
}

.main-text-lots-cards{
    display: flex;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 120%;
}

.discription-lots-cards{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 360px;
    font-size: 20px;
    line-height: 120%;
}

.cards-bottom-link{
    text-decoration: underline;
    font-size: 20px;
    padding: 3px 0 0 63px;
}

/*---------lots---------*/


/*---------about---------*/

.about-section{
    padding: 182px 0 0 71px;
    display:  grid;
    grid-template-columns: 240px 693px;
    gap: 72px;
}
.about-head-text {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 102px 0 99px 0;
}

.about-text{
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px;   
}

/*---------about---------*/

/*---------footer---------*/

.footer-section{
    display: flex;
    flex-direction: row;
    padding: 155px 50px 88px 48px;
    font-size: 18px;
    list-style-type: none;
    justify-content: space-between;
    align-content: flex-start;
}

.footer-menu-nav{
    text-align: center;
    margin: 2px 23px 0 0;
}

.footer-menu-list-icon{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.footer-repeat-contact{
    padding-left: 3px;
}

/*---------footer---------*/
